# Core dependencies
fastapi==0.104.1
uvicorn==0.23.2
pydantic==2.4.2
sqlparse==0.4.4
sqlglot==19.9.0
python-dotenv==1.0.0

# Database
sqlalchemy==2.0.23
alembic==1.12.1

# API client
requests==2.31.0

# Testing
pytest==7.4.3

# Logging
loguru==0.7.2